@import "root.css";
@import "container1.css";
@import "container2.css";
@import "container4.css";
.container-4 {
    background-color: var(--main-color);
    display: flex;
    flex-grow: 1;
    height: 25px;
    width: 100vw;
    bottom: 0;
    align-items: center;
    column-gap: 2px;
    border-top: 1px solid var(--borderlight);
}

.footer-note {
    background-color: transparent;
    align-items:bottom;
    flex: 4 1 80%;
    font-size: 12px;
    position: relative;
    height: 80%;
    bottom: 1px;
    border-top: 1px solid var(--borderdark);
    border-right: 1px solid var(--borderlight);
    border-left: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderlight);
}

.coordinates {
    background-color: transparent;
    position: relative;
    height: 80%;
    width: 9vw;
    bottom: 1px;
    flex-basis: 1 1 10%;
    border-top: 1px solid var(--borderdark);
    border-right: 1px solid var(--borderlight);
    border-left: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderlight);
}

.extra {
    background-color: transparent;
    position: relative;
    height: 80%;
    width: 9vw;
    bottom: 1px;
    border-top: 1px solid var(--borderdark);
    border-right: 1px solid var(--borderlight);
    border-left: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderlight);
} 