@import "root.css";
@import "container1.css";
@import "container3.css";
@import "container4.css";

.container-2 {
    flex-grow: 55;
    margin: 0;
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap ;
    height: 85vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.sidebar-floating-top {
    width: 56px;
    height: 16px;
    background: linear-gradient(to right, rgb(4, 4, 101), rgb(97, 110, 255));
    margin: 2px;
    display: none;
    align-items: center;
    align-self: center;
    color: aliceblue;
    font-size: 12px;
    position: relative;
    padding-left: 3px;
    box-sizing: border-box;
}

.sidebar-floating-top button {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-image: url('../imgs/sidebar-closeButton.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--main-color);
    border-bottom: 1px solid var(--borderdark);
    border-top: 1px solid var(--borderlight);
    border-right: 1px solid var(--borderdark);
    border-left: 1px solid var(--borderlight);
}
.sidebar-floating-top button:active{
    background-color: var(--main-color);
    border-top: 1px solid var(--borderdark);
    border-right: 1px solid var(--borderlight);
    border-left: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderlight);
}
.sidebar.floating{
    height: 55%;
    z-index: 100;
}

.right-sidebar {
    background-color: var(--main-color);
    display: flex;
    position: relative;
    width: 2px;
    height: 100%;
    border-left: 1px solid var(--borderlight);
    box-sizing: border-box;
}

.sidebar {
    background-color: var(--main-color);
    position: relative;
    left: 0;
    width: 64px;
    height: 100%;
    border-right: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderlighterdark);
    box-sizing: border-box;
}

.toolbar {
    background-color: transparent;
    position: relative;
    width: 85%;
    height: 208px;
    left: 6px;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(2, 26px); */

}

.tools {
    display: flex;
    background-color: transparent;
    width: 26px;
    height: 26px;
    background-image: url('../imgs/tools.png');
    background-repeat: no-repeat;
    background-size: 336px 16px;
    border-bottom: 1px solid var(--borderdark);
    border-top: 1px solid var(--borderlight);
    border-right: 1px solid var(--borderdark);
    border-left: 1px solid var(--borderlight);
    flex-grow: 0; /* Prevent resizing */
    flex-shrink: 0; /* Prevent resizing */
    flex-basis: 50%; 
    margin-bottom: 0; 
}

#polygonlasso{background-position: 4px 4px ;}
#rectlasso { background-position: -16px 4px; }
#eraser { background-position: -37px 4px; }
#fill { background-position: -58px 4px; }
#eyedrop { background-position: -78px 4px; }
#zoom { background-position: -98px 4px; }
#pencil { background-position: -118px 4px; }
#brush { background-position: -139px 4px; }
#airbrush { background-position: -159px 4px; }
#text { background-position: -179px 4px; }
#line { background-position: -201px 4px; }
#curveline { background-position: -222px 4px; }
#rectshape { background-position: -243px 4px; }
#polygonshape { background-position: -264px 4px; }
#elipse { background-position: -285px 4px; }
#rectelipse { background-position: -306px 4px; }

.tools.pressed {
    background-color: rgb(233, 237, 240);
    border-top: 1px solid var(--borderdark);
    border-right: 1px solid var(--borderlight);
    border-left: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderlight);
}

.optionWindow {
    background-color: transparent;
    position: relative;
    width: 42px;
    height: 66px;
    top: 0.3vh;
    left: 10px;
    border-top: 1px solid grey;
    border-right: 1px solid var(--borderlight);
    border-left: 1px solid grey;
    border-bottom: 1px solid var(--borderlight);
}

.optionWindow button {
    background-color: transparent;
    border: none;

}

.optionWindow button:hover {
    background-color: blue;
}



.canvasbackcontainer{
    display: flex;
    position: relative;
    flex-grow: 2;
    width: 100%;
    height: 100%;
    border:none; 
    box-sizing: border-box;
}
.canvascontainer{
    display: flex;
    position: absolute;
    border:none; 
}
.canvas {
    background-color: white;
    position: inherit;
    top: 3px;
    left: 3px;
    width: 100%;
    height:100%;
    border: none;
}

.resize-handle {
    position: absolute;
    width: 4px;
    height: 4px;
    z-index: 10;
}

.resize-handle.right {
    right: -8px;
    top: 50%;
    transform:translateY(50%);
    cursor: ew-resize;
}

.resize-handle.bottom {
    
    bottom: -6px;
    left: 50%;
    transform: translateY(50%);
    cursor: ns-resize;
}

.resize-handle.corner {
    right: -8px;
    bottom: -8px;
    cursor: nwse-resize;
}

