:root {
    --main-color: #bbbbbb;
    --borderlight: rgb(238, 238, 238);
    --borderdark: rgb(44, 44, 44);
    --borderlighterdark: rgb(109, 109, 109);
}


body {
    padding: 0;
    margin: 0;
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    touch-action: none;
    
}

.container-1 {
    flex-direction: 1;
    margin: 0;
    border: none;
    display: flex;
    top: 0;
    width: 100vw;
    height:19px;
    border-bottom: 1px solid var(--borderdark);
    
}

.menubar {
    background-color: var(--main-color);
    height: 100%;
    width: 100%;
    align-content: center;
    position: relative;
    top: 0;
}

.menubar button {
    background-color: transparent;
    height: 100%;
    left:1px;
    float: left;
    border: none;
    margin: 0;
    text-align: center;
    padding: 1px 6px;
    font-size: 13px;
}
.menubar button:hover {
    background-color: var(--main-color);
    border-top: 1px solid var(--borderlight);
    border-left: 1px solid var(--borderlight);
    border-right: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderdark);
}


.menubar button:focus {
    background-color: var(--main-color);
    border-top: 1px solid var(--borderdark);
    border-right: 1px solid var(--borderlight);
    border-left: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderlight);
}

/* Common styles for both toggle content containers */
#file_toggle,
#edit_toggle,
#view_toggle,
#layer_toggle,
#image_toggle,
#colors_toggle {
    background-color: var(--main-color);
    position: absolute;
    top: 19px;
    z-index: 999;
    margin: 0;
    border-top: 1px solid var(--borderlight);
    border-left: 1px solid var(--borderlight);
    border-right: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderdark);
}
.dropdown.active {
    display: flex;
}
.dropdown{
    display: none;
}

.tickspace,
.secondary-dialog-arrow {
    background-color: var(--main-color);
    height: 12px;
    width: 18px;
    margin: 0;
    border: none;
}

/* Specific styles for #edit-toggle */
#edit_toggle {
    width: 192px;
    height: 200px;
    left: 31px;
}

#view_toggle {
    width: 150px;
    height: 156px;
    left: 60px;
}

#image_toggle {
    
    width: 165px;
    height: 114px;
    left: 137px;
}

#colors_toggle {
    width: 130px;
    height: 60px;
    left: 130px;
}
#layer_toggle {
    left: 95px;
}
/* Common styles for hr on hover */
hr:hover {
    background-color: var(--main-color);
}

.menu-row:hover td {
    background-color: rgb(12, 12, 99);
    color: white;
    cursor: pointer;
}

/* Common styles for .toggle-content and .edit-toggle-content */
.toggle-content,
.edit-toggle-content ,
.view-toggle-content ,
.layers-toggle-content ,
.image-toggle-content,
.colors-toggle-content {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 1px;
    font-size: 12px;
    align-items: center;
}

/* Common styles for #toggle-content td and #edit-toggle-content td */
#file_toggle td,
#edit_toggle td,
#view_toggle td,
#layers_toggle td,
#colors_toggle td {
    height: 10px;
}



.container-2 {
    flex-grow: 55;
    margin: 0;
    background-color: grey;
    display: flex;
    height: 85vh;
    width: 100vw;
    position: relative;
}

.sidebar-floating-top {
    width: 56px;
    height: 16px;
    background: linear-gradient(to right, rgb(4, 4, 101), rgb(97, 110, 255));
    margin: 2px;
    display: none;
    align-items: center;
    align-self: center;
    color: aliceblue;
    font-size: 12px;
    position: relative;
    padding-left: 3px;
    box-sizing: border-box;
}

.sidebar-floating-top button {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--main-color);
    border-bottom: 1px solid var(--borderdark);
    border-top: 1px solid var(--borderlight);
    border-right: 1px solid var(--borderdark);
    border-left: 1px solid var(--borderlight);
}
.sidebar-floating-top button:active{
    background-color: var(--main-color);
    border-top: 1px solid var(--borderdark);
    border-right: 1px solid var(--borderlight);
    border-left: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderlight);
}
.sidebar.floating{
    height: 305px;
}

.right-sidebar {
    background-color: var(--main-color);
    display: flex;
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0px;
    border-left: 1px solid var(--borderlight);
}

.sidebar {
    background-color: var(--main-color);
    position: relative;
    left: 0;
    width: 60px;
    height: 100%;
    border-right: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderlighterdark);
}

.toolbar {
    background-color: transparent;
    position: relative;
    width: 100%;
    left: 5px;
    display: grid;
    grid-template-columns: repeat(2, 26px);

}

.tools {
    background-color: transparent;
    height: 26px;
    width: 26px;
    border-bottom: 1px solid var(--borderdark);
    border-top: 1px solid var(--borderlight);
    border-right: 1px solid var(--borderdark);
    border-left: 1px solid var(--borderlight);
    background-position: center;
    background-repeat: no-repeat;
}

.tools:focus {
    background-color: rgb(233, 237, 240);
    border-top: 1px solid var(--borderdark);
    border-right: 1px solid var(--borderlight);
    border-left: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderlight);
}

.optionWindow {
    background-color: transparent;
    height: 66px;
    width: 43px;
    position: relative;
    top: 0.3vh;
    left: 9px;
    border-top: 1px solid grey;
    border-right: 1px solid var(--borderlight);
    border-left: 1px solid grey;
    border-bottom: 1px solid var(--borderlight);
}

.optionWindow button {
    background-color: transparent;
    border: none;

}

.optionWindow button:hover {
    background-color: blue;
}

#canvas-container {
    position: absolute;
    left: 63px;
    top: 3px;
    width: 80%;
    height: 80%;
    border: none;
}

#canvas {
    background-color: white;
    width: 100%;
    height: 100%;
    border: none;
}

.resize-handle {
    position: absolute;
    width: 4px;
    height: 4px;
    z-index: 1;
}

.resize-handle.right {
    
    right: -4px;
    top: 50%;
    transform:translateY(-50%);
    cursor: ew-resize;
}

.resize-handle.bottom {
    
    bottom: -6px;
    left: 50%;
    transform: translateY(-50%);
    cursor: ns-resize;
}

.resize-handle.corner {
    right: -4px;
    bottom: -4px;
    cursor: nwse-resize;
}



.container-3 {
    background-color: var(--main-color);
    display: flex;
    flex-grow: 2;
    height: 56px;
    width: 100vw;
    align-items: center;
    border-top: 1px solid var(--borderlight);
    border-bottom: 1px solid var(--borderlighterdark);
}

.pallete-layout {
    background-color: transparent;
    display: grid;
    border: 0;
    left: 8px;
    position: relative;
    grid-template-columns: repeat(14,18px);
    column-gap: 1px;
    row-gap: 1px;
  
}

.pallete-layout button {
    background-color: transparent;
    height: 18px;
    width: 18px;
    border-top: 1px solid var(--borderdark);
    border-right: 1px solid var(--borderlight);
    border-left: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderlight);
}

.pallete-preview {
    background-color: rgb(216, 216, 216);
    position: relative;
    left: 5px;
    display: flex;
    height: 36px;
    width: 36px;
    border-top: 1px solid var(--borderdark);
    border-right: 1px solid var(--borderlight);
    border-left: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderlight);
}

.container-4 {
    background-color: var(--main-color);
    display: flex;
    flex-grow: 1;
    height: 25px;
    width: 100vw;
    bottom: 0;
    align-items: center;
    column-gap: 2px;
    border-top: 1px solid var(--borderlight);
}

.footer-note {
    background-color: transparent;
    align-items:bottom;
    flex: 4 1 80%;
    font-size: 12px;
    position: relative;
    height: 80%;
    bottom: 1px;
    border-top: 1px solid var(--borderdark);
    border-right: 1px solid var(--borderlight);
    border-left: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderlight);
}

.coordinates {
    background-color: transparent;
    position: relative;
    height: 80%;
    width: 9vw;
    bottom: 1px;
    flex-basis: 1 1 10%;
    border-top: 1px solid var(--borderdark);
    border-right: 1px solid var(--borderlight);
    border-left: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderlight);
}

.extra {
    background-color: transparent;
    position: relative;
    height: 80%;
    width: 9vw;
    bottom: 1px;
    border-top: 1px solid var(--borderdark);
    border-right: 1px solid var(--borderlight);
    border-left: 1px solid var(--borderdark);
    border-bottom: 1px solid var(--borderlight);
} 