    <div class="dropdown" id="edit_toggle" >
      <table class="edit-toggle-content" style="width: 192px; height: 195px; font-size: 11px; ">
        <tr class="menu-row" id="Undo">
          <td class="tickspace"></td>
          <td class="menu-item-label">Undo</td>
          <td class="menu-item-shortcut">Ctrl+Z</td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
        <tr class="menu-row" id="Repeat">
          <td class="tickspace"></td>
          <td class="menu-item-label">Repeat</td>
          <td class="menu-item-shortcut">F4</td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
        <tr class="menu-row" id="History">
          <td class="tickspace"></td>
          <td class="menu-item-label">History</td>
          <td class="menu-item-shortcut">Ctrl+Shift+Y</td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
        <tr class="div-line">
          <td colspan="4">
            <hr class="menuhr">
          </td>
        </tr>
        <tr class="menu-row" id="Cut">
          <td class="tickspace"></td>
          <td class="menu-item-label">Cut</td>
          <td class="menu-item-shortcut"></td>
          <td class="secondary-dialog-arrow"></td>
        </tr>

        <tr class="menu-row" id="Copy">
          <td class="tickspace"></td>
          <td class="menu-item-label">Copy</td>
          <td class="menu-item-shortcut"></td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
        <tr class="menu-row" id="Paste">
          <td class="tickspace"></td>
          <td class="menu-item-label">Paste</td>
          <td class="menu-item-shortcut"></td>
          <td class="secondary-dialog-arrow"></td>
        </tr>

        <tr class="menu-row" id="Clear_Selection">
          <td class="tickspace"></td>
          <td class="menu-item-label">Clear Selection</td>
          <td class="menu-item-shortcut">Del</td>
          <td class="secondary-dialog-arrow"></td>
        </tr>

        <tr class="menu-row" id="Select_All">
          <td class="tickspace"></td>
          <td class="menu-item-label">Select All</td>
          <td class="menu-item-shortcut">Ctrl+A</td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
        <tr class="div-line">
          <td colspan="4">
            <hr class="menuhr">
          </td>
        </tr>
        <tr class="menu-row" id="Copy_To">
          <td class="tickspace"></td>
          <td class="menu-item-label">Copy to</td>
          <td class="menu-item-shortcut"></td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
        <tr class="menu-row" id="Paste_from">
          <td class="tickspace"></td>
          <td class="menu-item-label">Paste-from</td>
          <td class="menu-item-shortcut"></td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
      </table>
    </div>

