
    <div class="dropdown" id="file_toggle" style=" width: 275px;height: 310px;left: 0;">
    <table class="toggle-content" style="width: 275px;height: 305px;left: 0; ">
      <tr class="menu-row" id="New_file">
        <td class="tickspace"></td>
        <td class="menu-item-label">New</td>
        <td class="menu-item-shortcut">Ctrl+Alt+N</td>
        <td class="  secondary-dialog-arrow"></td>
      </tr>
      <tr class="menu-row" id="Open_file">
        <td class="tickspace"></td>
        <td class="menu-item-label">Open</td>
        <td class="menu-item-shortcut">Ctrl+Alt+O</td>
        <td class="secondary-dialog-arrow"></td>
      </tr>
      <tr class="menu-row" id="Save_file">
        <td class="tickspace"></td>
        <td class="menu-item-label">Save</td>
        <td class="menu-item-shortcut"></td>
        <td class="secondary-dialog-arrow"></td>
      </tr>
      <tr class="menu-row" id="Saveas_file">
        <td class="tickspace"></td>
        <td class="menu-item-label">SaveAs</td>
        <td class="menu-item-shortcut">Ctrl+S</td>
        <td class="secondary-dialog-arrow"></td>
      </tr>
      <tr class="div-line">
        <td colspan="4">
          <hr class="menuhr">
        </td>
      </tr>
      <tr class="menu-row" id="Load_from_URL" hx-get="/loadBox" hx-trigger="click" hx-target="#load_box" hx-swap="outerHTML">
        <td class="tickspace"></td>
        <td class="menu-item-label">Load from URL</td>
        <td class="menu-item-shortcut"></td>
        <td class="secondary-dialog-arrow"></td>
      </tr>
      <tr class="menu-row" id="Upload_to_Imgur">
        <td class="tickspace"></td>
        <td class="menu-item-label">Upload to Imgur</td>
        <td class="menu-item-shortcut"></td>
        <td class="secondary-dialog-arrow"></td>
      </tr>
      <tr class="div-line">
        <td colspan="4">
          <hr class="menuhr">
        </td>
      </tr>
      <tr class="menu-row" id="Manage_storage">
        <td class="tickspace"></td>
        <td class="menu-item-label">Manage storage</td>
        <td class="menu-item-shortcut"></td>
        <td class="secondary-dialog-arrow"></td>
      </tr>
      <!-- <tr class="div-line">
        <td colspan="4">
          <hr class="menuhr">
        </td>
      </tr> -->
      <!-- <tr class="menu-row" id="Set_as_WallpaperT">
        <td class="tickspace"></td>
        <td class="menu-item-label">Set as wallpaper(Tiled)</td>
        <td class="menu-item-shortcut"></td>
        <td class="secondary-dialog-arrow"></td>
      </tr>
      <tr class="menu-row" id="Set_as_WallpaperC">
        <td class="tickspace"></td>
        <td class="menu-item-label">Set as Wallpaper(Centered)</td>
        <td class="menu-item-shortcut"></td>
        <td class="secondary-dialog-arrow"></td>
      </tr> -->
      <!-- <tr class="div-line">
        <td colspan="4">
          <hr class="menuhr">
        </td>
      </tr> -->
      <tr class="menu-row" id="Recent_files">
        <td class="tickspace"></td>
        <td class="menu-item-label" style="text-shadow: 1px 1px 0px rgb(255, 255, 255);">Recent Files</td>
        <td class="menu-item-shortcut"></td>
        <td class="secondary-dialog-arrow"></td>
      <tr class="div-line">
        <td colspan="4">
          <hr class="menuhr">
        </td>
      </tr>
      <tr class="menu-row" id="Exit">
        <td class="tickspace"></td>
        <td class="menu-item-label">Exit</td>
        <td class="menu-item-shortcut">Ctrl+Q</td>
        <td class="secondary-dialog-arrow"></td>
      </tr>
    </table>
    </div>
