    <div class="dropdown" id="layer_toggle" >
      <table class="layers-toggle-content" style="width: 192px; height: 200px; font-size: 11px;">
        <tr class="menu-row" id="Properties">
          <td class="tickspace"></td>
          <td class="menu-item-label">Properties..</td>
          <td class="menu-item-shortcut">F2</td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
        <tr class="menu-row" id="Visible">
          <td class="tickspace"></td>
          <td class="menu-item-label">Visible</td>
          <td class="menu-item-shortcut">Shift+X</td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
        <tr class="menu-row" id="Lock_Layers">
          <td class="tickspace"></td>
          <td class="menu-item-label">Lock Layers</td>
          <td class="menu-item-shortcut"></td>
          <td class="secondary-dialog-arrow"></td>
        </tr>

        <tr class="menu-row" id="Open_Group">
          <td class="tickspace"></td>
          <td class="menu-item-label">Open Group</td>
          <td class="menu-item-shortcut">Shift+E</td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
        <tr class="div-line">
          <td colspan="4">
            <hr class="menuhr">
          </td>
        </tr>
        <tr class="menu-row" id="New_Layer">
          <td class="tickspace"></td>
          <td class="menu-item-label">New</td>
          <td class="menu-item-options"></td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
        <tr class="menu-row" id="Delete_Layer">
          <td class="tickspace"></td>
          <td class="menu-item-label">Delete Layer</td>
          <td class="menu-item-options"></td>
          <td class="secondary-dialog-arrow"></td>
        </tr>

        <tr class="menu-row" id="Convert_To">
          <td class="tickspace"></td>
          <td class="menu-item-label">Convert To..</td>
          <td class="menu-item-options"></td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
        <tr class="div-line">
          <td colspan="4">
            <hr class="menuhr">
          </td>
        </tr>
        <tr class="menu-row" id="Duplicate">
          <td class="tickspace"></td>
          <td class="menu-item-label">Duplicate</td>
          <td class="menu-item-options"></td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
        <tr class="menu-row" id="Merge_Down">
          <td class="tickspace"></td>
          <td class="menu-item-label">Merge Down</td>
          <td class="menu-item-options"></td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
        <tr class="menu-row" id="Flatten">
          <td class="tickspace"></td>
          <td class="menu-item-label">Flatten</td>
          <td class="menu-item-options"></td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
        <tr class="menu-row" id="Flatten_Layer">
          <td class="tickspace"></td>
          <td class="menu-item-label">Flatten Layer</td>
          <td class="menu-item-options"></td>
          <td class="secondary-dialog-arrow"></td>
        </tr>
      </table>
    </div>

